
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.main-F3Q {
  row-gap: 33.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .header-mXY {
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    display: flex;
    padding: 3.4rem 20rem 3.4rem 5.7rem;
    position: relative;
    align-items: center;
    background-color: #89b6cf;
    flex-shrink: 0;

    .rectangle-1-VTY {
      margin-right: 14.6rem;
      width: 22.5rem;
      height: 12.7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .item--pVp {
      justify-content: center;
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 1.1152273814;
      letter-spacing: 0.072rem;
      font-family: Inter, 'Source Sans Pro';
      margin: 1rem 2.15rem 0rem 0rem;
      display: flex;
      white-space: nowrap;
      flex-shrink: 0;
      align-items: center;
      color: #000000;
    }
    .item--h3p {
      flex-shrink: 0;
      margin: 0.8rem 1.85rem 0rem 0rem;
      display: flex;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      line-height: 1.1152273814;
      letter-spacing: 0.072rem;
      color: #000000;
      align-items: center;
      justify-content: center;
      font-size: 2.4rem;
      font-weight: 600;
    }
    .item--yX8 {
      justify-content: center;
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 1.1152273814;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      align-items: center;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 1rem 2.45rem 0rem 0rem;
      letter-spacing: 0.072rem;
    }
    .item--fuk {
      color: #000000;
      display: flex;
      font-size: 2.4rem;
      justify-content: center;
      font-weight: 600;
      line-height: 1.1152273814;
      letter-spacing: 0.072rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      margin: 1rem 14.65rem 0rem 0rem;
      align-items: center;
      flex-shrink: 0;
    }
    .mdi-human-greeting-variant-9K8 {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 1.7rem;
      width: 5rem;
      height: 5rem;
      cursor: pointer;
    }
  }
  .item--emg {
    max-width: 58.3rem;
    display: flex;
    align-items: center;
    line-height: 1.1152273814;
    letter-spacing: 0.252rem;
    font-family: Inter, 'Source Sans Pro';
    flex-shrink: 0;
    margin-left: 4.5rem;
    justify-content: center;
    font-size: 3.6rem;
    font-weight: 600;
    color: #635c5c;
  }
  .frame-1-gyG {
    width: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    background-color: #bdd193;
    flex-shrink: 0;
    box-sizing: border-box;
    display: flex;
    padding: 1rem 9.2rem 1rem 9.05rem;

    .dankababakgmailcom-DCW {
      flex-shrink: 0;
      margin-right: 24.55rem;
      align-items: center;
      font-weight: 600;
      font-family: Inter, 'Source Sans Pro';
      letter-spacing: 0.14rem;
      color: #000000;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      font-size: 2rem;
      line-height: 1.1152273178;
    }
    .item-38-096-539-01-01-vci {
      letter-spacing: 0.14rem;
      align-items: center;
      font-size: 2rem;
      justify-content: center;
      font-weight: 600;
      line-height: 1.1152273178;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0.5rem 24.5rem 0rem 0rem;
      display: flex;
      flex-shrink: 0;
    }
    .frame-2-RJa {
      margin-right: 5.8rem;
      width: 5rem;
      height: 5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .frame-3-Mi2 {
      margin-right: 5.8rem;
      width: 5rem;
      height: 5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .frame-4-hWz {
      width: 5rem;
      height: 5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
