
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.main-Xgn {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .auto-group-4mby-Kce {
    position: absolute;
    row-gap: 3.9rem;
    flex-direction: column;
    padding: 28.5rem 7.5rem 35.1rem 7.5rem;
    width: 144rem;
    left: 0;
    top: 0;
    display: flex;
    box-sizing: border-box;
    height: 95.4rem;

    .auto-group-3s6r-7S2 {
      margin-right: 78.4rem;
      width: calc(100% - 78.4rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-wnjw-qcv {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.2rem;
        width: 8rem;
        height: 8rem;
        position: relative;
        object-fit: contain;
      }
      .item--MrA {
        letter-spacing: 0.252rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-top: 0.1rem;
        align-items: center;
        font-weight: 600;
        line-height: 1.1152273814;
        flex-shrink: 0;
        cursor: pointer;
        display: flex;
        justify-content: center;
        font-size: 3.6rem;
      }
    }
    .auto-group-wvtv-Li6 {
      align-items: center;
      flex-shrink: 0;
      margin-right: 78.05rem;
      width: calc(100% - 78.05rem);
      display: flex;

      .mdi-coupon-UpJ {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.65rem;
        width: 8rem;
        height: 8rem;
        cursor: pointer;
      }
      .item--RDk {
        line-height: 1.1152273814;
        white-space: nowrap;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 3.6rem;
        letter-spacing: 0.252rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        margin-top: 0.1rem;
        cursor: pointer;
        display: flex;
      }
    }
    .auto-group-csjn-Uxi {
      width: 66.65rem;
      height: 8rem;
      position: relative;
      flex-shrink: 0;

      .majesticons-door-exit-line-q2a {
        width: 8rem;
        height: 8rem;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
      }
      .item--Xg6 {
        height: 4.1rem;
        top: 2.4rem;
        font-size: 3.6rem;
        font-weight: 600;
        width: 59.7rem;
        cursor: pointer;
        letter-spacing: 0.252rem;
        color: #000000;
        white-space: nowrap;
        position: absolute;
        align-items: center;
        line-height: 1.1152273814;
        font-family: Inter, 'Source Sans Pro';
        left: 6.95rem;
        display: flex;
        justify-content: center;
      }
    }
  }
  .frame-1-LdY {
    left: 0;
    top: 95.4rem;
    overflow: hidden;
    padding: 1rem 9.2rem 1rem 9.05rem;
    width: 144rem;
    height: 7rem;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: #bdd193;

    .dankababakgmailcom-1jg {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.1152273178;
      letter-spacing: 0.14rem;
      margin-right: 24.55rem;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
    }
    .item-38-096-539-01-01-hsQ {
      letter-spacing: 0.14rem;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      line-height: 1.1152273178;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0.5rem 24.5rem 0rem 0rem;
      display: flex;
      font-size: 2rem;
    }
    .frame-2-ZPp {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 5.8rem;
      width: 5rem;
      height: 5rem;
      object-fit: contain;
    }
    .frame-3-hF8 {
      flex-shrink: 0;
      margin-right: 5.8rem;
      width: 5rem;
      height: 5rem;
      object-fit: contain;
      vertical-align: top;
    }
    .frame-4-Ekr {
      flex-shrink: 0;
      width: 5rem;
      height: 5rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .header-NcA {
    align-items: center;
    background-color: #89b6cf;
    box-sizing: border-box;
    padding: 3.4rem 20rem 3.4rem 5.7rem;
    width: 144rem;
    left: 0;
    top: 0;
    display: flex;
    height: 19.5rem;
    position: absolute;
    overflow: hidden;

    .rectangle-1-sop {
      margin-right: 14.6rem;
      width: 22.5rem;
      height: 12.7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .item--C5Q {
      justify-content: center;
      line-height: 1.1152273814;
      letter-spacing: 0.072rem;
      margin: 1rem 2.15rem 0rem 0rem;
      display: flex;
      align-items: center;
      font-size: 2.4rem;
      font-weight: 600;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .item--5ez {
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      line-height: 1.1152273814;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0.8rem 1.85rem 0rem 0rem;
      align-items: center;
      font-size: 2.4rem;
      font-weight: 600;
      letter-spacing: 0.072rem;
    }
    .item--NPC {
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      display: flex;
      align-items: center;
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 1.1152273814;
      color: #000000;
      margin: 1rem 2.45rem 0rem 0rem;
      justify-content: center;
      letter-spacing: 0.072rem;
      white-space: nowrap;
    }
    .item--fdC {
      align-items: center;
      font-weight: 600;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 1rem 14.65rem 0rem 0rem;
      justify-content: center;
      font-size: 2.4rem;
      line-height: 1.1152273814;
      letter-spacing: 0.072rem;
      display: flex;
    }
    .mdi-human-greeting-variant-mgE {
      height: 5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 1.7rem;
      width: 5rem;
    }
  }
}
